{# Module styles #}

{% require_css %}
  <style>
    {% scope_css %}

      {# Image #}

      {% if module.styles.image.corner.radius %}
        .card__image {
          border-radius: {{ module.styles.image.corner.radius ~ 'px' }};
        }
      {% endif %}

      {# Card #}

      .card {
        {% if module.styles.card.background.background_type == "color" && module.styles.card.background.color.color %}
          background-color: rgba({{ module.styles.card.background.color.color|convert_rgb }}, {{ module.styles.card.background.color.opacity / 100 }});
        {% elif module.styles.card.background.background_type == "gradient" %}
          background: {{ module.styles.card.background.gradient.css }};
        {% elif module.styles.card.background.background_type == "image" %}
          {{ module.styles.card.background.image.css }}
        {% endif %}
        {{ module.styles.card.border.border.css }}
        {% if module.styles.card.corner.radius %}
          border-radius: {{ module.styles.card.corner.radius ~ 'px' }};
        {% endif %}
        {{ module.styles.card.spacing.spacing.css }}
      }

    {% end_scope_css %}
  </style>
{% end_require_css %}

{# Cards #}

<div class="cards">

  {# Loops through each card in the cards repeater #}

  {% for card in module.card %}
    <section class="cards__card card">
      {% set image = card.image %}
      {% include "../../templates/partials/card-image.hubl.html" %}
      {% if card.text %}
        <div class="card__text">
          {{ card.text }}
        </div>
      {% endif %}
    </section>
  {% endfor %}

</div>
